* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 30px;
  display: flex;
  justify-content: center;
}

p {
  font-size: larger;
  margin: 30px;
  display: flex;
  justify-content: center;
}

.buttons {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.button {
  margin: 10px;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 30px;
  color: white;
  background-color: black;
  font-size: medium;
}

#container > div {
  margin: 10px;
  display: flex;
  justify-content: center;
  font-size: larger;
}
